<%= form_tag sessions_path, :method => :post do %>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div>
  <%= label_tag :remember,'Can I remember you?' %>
  <%= check_box_tag :remember, params[:remember], true, id: 'remember' %>
    <%= image_tag 'check.png', class: 'remember' %>
</div>

  <div class="actions">
    <%= submit_tag "Log in" , class:'btn login-btn' %>
  </div>

<% end %>
