<div class="container">
	<%= @wear.item_name %>
	<%= @wear.size %>
    <%= @wear.price %>
    <a href="<%= @wear.link %>"><%= @wear.link %></a>
    <%= @wear.keywords %>
    <%= @wear.brand %>
    <%= @wear.sales_percentage %>
</div>